<!-- views/dashboard.handlebars: -->
<main>
  <h1>Dashboard</h1>
  <section id="posts-section">
    <!-- New post form -->
    <form id="new-post-form" class="new-post-form">
      <input id="post-title" type="text" placeholder="Title" name="title" required>
      <textarea id="post-content" placeholder="Content" name="content" required></textarea>
      <button type="submit">Create Post</button>
    </form>

    <!-- Posts list -->
    <div id="posts-list">
      {{#each posts}}
  <div class="post">
    <h2 class="title">{{this.title}}</h2>
    <p class="content">{{this.content}}</p>
    <!-- Display the created_at date for each post -->
    <p class="date">Posted on: {{format_date this.created_at}}</p>
    <button class="edit-post-btn" data-id="{{this.id}}">Edit</button>
    <button class="delete-post-btn" data-id="{{this.id}}">Delete</button>
  </div>
{{/each}}

    </div>
  </section>
</main>

<!-- Reference the JavaScript file for handling new post creation -->
<script src="/js/new.js"></script>
<script src="/js/edit.js"></script>